<p>********** Componente 3 **********</p>

<p>>>> Switch com Múltiplos Cases</p>
@switch (status) { @case ("pendente") {
<p>Aguardando confirmação</p>
} @case ("enviado") {
<p>Pedido a caminho</p>
} @case ("entregue") {
<p>Pedido entregue</p>
} @default {
<p>Status desconhecido</p>
} }

<select name="status" id="status" (change)="update()">
  <option value="">Selecione</option>
  <option value="pendente">Pendente</option>
  <option value="enviado">Enviado</option>
  <option value="entregue">Entregue</option>
</select>
