<p>********** Componente 4 **********</p>

<p>>>> Switch com números e Strings</p>
@switch (numero) { @case (1) {
<p>Um</p>
} @case (2) {
<p>Dois</p>
} @default {
<p>Valor não reconhecido</p>
} }

<p>>>> Login</p>

<input type="email" [(ngModel)]="email" placeholder="Email" (ngModelChange)="validarLogin()" />
<input type="password" [(ngModel)]="senha" placeholder="Senha" (ngModelChange)="validarLogin()" />

@if (mensagem === 'obrigatorio') {
<p>Campos obrigatórios!</p>
} @if (mensagem === 'invalido') {
<p>Credenciais inválidas!</p>
} @if (mensagem === 'sucesso') {
<p>Login bem-sucedido!</p>
}

<p>>>> Lista de produtos com condicionais</p>

<ul>
  @for (produto of produtos; track produto.nome) { @if(produto.promocao) {
  <li class="promocao">
    {{ "Nome: " + produto.nome + ", Preço: " + produto.preco }}
  </li>
  } @else {
  <li>
    {{ "Nome: " + produto.nome + ", Preço: " + produto.preco }}
  </li>
  } } @empty {
  <li>Nenhum produto cadastrado</li>
  }
</ul>

<p>>>> Calculadora</p>

<input type="number" [(ngModel)]="n1" placeholder="Número 1" (change)="calcular()" />
<input type="number" [(ngModel)]="n2" placeholder="Número 2" (change)="calcular()" />

<select [(ngModel)]="operacao" (change)="calcular()">
  <option value="">Selecione</option>
  <option value="so">Soma</option>
  <option value="su">Subtração</option>
  <option value="di">Divisão</option>
  <option value="mu">Multiplicação</option>
</select>

@switch (operacao) { @case ("so") {
<p>Você escolheu Soma</p>
} @case ("su") {
<p>Você escolheu Subtração</p>
} @case ("di") {
<p>Você escolheu Divisão</p>
} @case ("mu") {
<p>Você escolheu Multiplicação</p>
} @default {
<p>Escolha a operação</p>
} }

@if (resultado !== null) {
<p>Resultado: {{ resultado }}</p>
} @if (erroDivisao) {
<p>Erro: divisão por zero!</p>
}